.banner

    .story-title
        .line
        .text Recent Stories
    .banner__content
        .banner__slides
            - let text = [ "01", "02", "03"]; 
            .swiper-container.gallery-thumbs
                .swiper-wrapper
                    each item in text
                        .swiper-slide
                            span= item
            .swiper-container.gallery-top
                <div class="swiper-pagination"></div>
                .swiper-wrapper
                    each item in [0,1,2,3,4,5,6]
                        .swiper-slide(style="background-image: url( ${require(`./assets/images/slider1.jpg`)} )")
                            .container
                                .text
                                    h1=heading[item]
                                    +anchor('btn-secondary' ,' Read more ')